# Collecting data from spreadsheets
We should explore and experiment with IN and OUT dummy data documents

In [14]:
import pandas as pd

### Importing the income receivabls document

In [15]:
income_df = pd.read_excel('../data/Income Receivables (IN).xlsx')
income_df.head()

,Issue Date,Invoice/Receipt Number,Client Name,Description (Project),Quantity,Unit Price,Currency,Amount,VAT,Total Amount,Status,Paid Date,Category,Type,Payment Method
0,2023-01-01,INV001,ABC Corp,Project ABC,5,100,USD,500,100,600,Paid,2023-01-05,Sales,Invoice,Credit Card
1,2023-02-10,INV002,XYZ Ltd,Project XYZ,5,100,USD,500,100,600,Pending,2023-01-05,Sales,Invoice,Credit Card
2,2023-02-20,REC001,LMN Inc,Consulting Services,10,75,GBP,750,150,900,Paid,2023-01-05,Sales,Receipt,Cash
3,2023-04-30,INV003,DEF Company,Project DEF,120,45,EUR,5400,1080,6480,Unpaid,2023-01-05,Sales,Invoice,Credit Card

### Importing the expenses payables document

In [16]:
expenses_df = pd.read_excel('../data/Expenses Payables (OUT).xlsx')
expenses_df.head()

,Payment Date,Invoice/Receipt Number,Supplier Name,Currency,Amount,Status,Due Date,Category,Description
0,2023-01-01,23411,ABC Corp,USD,800,Paid,2023-04-05,Supplies,Office Stationery
1,2023-02-10,64455,XYZ Ltd,USD,1200,Pending,2023-03-12,Electronics,Computer Components
2,2023-02-20,00321,LMN Inc,GBP,324,Paid,2023-02-10,Services,Consulting Fee
3,2023-03-30,AS3213,DEF Company,EUR,664,Unpaid,2023-02-23,Hardware,IT Equipment